ul.ldd_menu{
	position: relative;
	z-index: 100;
	margin:0px;
	padding:0;
	display:block;
	height:30px;
	list-style:none;
	border-top:1px solid;
	border-bottom:1px solid;
	border-left:1px solid;
}

ul.ldd_menu a{
	text-decoration:none;
}
ul.ldd_menu > li{
	float:left;
	position:relative;
}
ul.ldd_menu > li > span{
	float:left;
	height:30px;
	line-height:30px;
	cursor:default;
	padding:0px 20px;
	border-right:0px;
	border-left:1px;
	border:100px 10px 10px 10px;
}
ul.ldd_menu .ldd_submenu{
	position:absolute;
	top:31px;
	width:550px;
	display:none;
	opacity:0.90;
	left:0px;
	border-top:0px solid #EF593B;
}
a.ldd_subfoot{
	display:block;
	clear:both;
	padding:15px 20px;
	text-transform:uppercase;
	font-size:12px;
}
ul.ldd_menu ul{
	list-style:none;
	float:left;
	border-left:1px solid;
	margin:20px 0px 10px 30px;
	padding:10px;
}
li.ldd_heading{
	text-transform:uppercase;
	padding:0px 0px 10px 0px;
}
ul.ldd_menu ul li a{
	padding:1px 3px;
}
